#about, #main {
  display: flex;
}

#about {
  justify-content: space-between;
  align-items: center;
  
  padding-block: 3.2rem;
}

#main{
  align-items: center;
  gap: 3.2rem;
}

#info {
  flex-direction: column;
}

#description {
  max-width: 38rem;
}

h1 {
  margin-bottom: .8rem;
  font: var(--text-lg);
  color: var(--text-color-primary);
}

p, #info {
  font: var(--text-md);
}

#info {
  width: 28rem;
  gap: 1.6rem;
  padding: 0;
  align-items: start;
}

#info li {
  display: flex;
  align-items: center;
  gap: .8rem;
}