* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  
  --font-family: "Poppins", sans-serif;

  --text-logo: bold 2rem/160% var(--font-family);
  --text-lg: bold 3.2rem/125% var(--font-family);
  --text: 1.6rem/150% var(--font-family);
  --text-md: 1.4rem/170% var(--font-family);
  --text-sm: 1.2rem/170% var(--font-family);

  --brand-color:hsl(7, 84%, 62%);
  --background-color:hsl(0, 0%, 100%);
  --surface-color: hsl(0, 0%, 96%);
  --skeleton-color: hsl(0, 0%, 85%);
  --shape-transparency: hsl(0, 0%, 56%);
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
}

body {
  color: var(--text-color-secondary);
}

.container {
  margin: auto;
  padding-inline: 3.2rem;
  max-width: 128rem;
}

a {
  text-decoration: none;
  color: inherit;
}